body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 32px;
}

.icons {
    padding: 0 5px;
    position: sticky;
    top: 40px;
}

.toucan {
    width: 32px;
}
